@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table class="table table-hover">
    <tr>
        <td>Kategori Id</td>
        <td>Kategori Adı</td>
        <td>Kategori Açıklaması</td>
        <td>Kategori Statüsü</td>
    </tr>

    <tr>
        <td>1</td>
        <td>Yazılım</td>
        <td>C# Eğitimi</td>
        <td>True</td>
        <td>
            <button class="btn btn-success">Güncelle</button>
        </td>
    </tr>

    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Fenerbahçe Sen Çok Yaşa</td>
        <td>True</td>
        <td>
            <button class="btn btn-success">Güncelle</button>
        </td>
    </tr>

    <tr>
        <td>3</td>
        <td>Haber</td>
        <td>Akşam Haberleri</td>
        <td>True</td>
        <td>
            <button class="btn btn-success">Güncelle</button>
        </td>
    </tr>

</table>
<br />
<button class="btn btn-danger">Kategori Listesi</button>
<button class="btn btn-success">Kategori Ekle</button>
<button class="btn btn-info">Kategori Sil</button>