
@{
    ViewBag.Title = "AddContact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>İletişim Ekleme Sayfası</h2>

<form class=" form-group" method="post">


    <input type="text" placeholder="Kullanıcı Adı" name="UserName" class="form-group" />
    <input type="text" placeholder="Kullanıcı Mail" name="UserMail" class="form-group" />
    <input type="text" placeholder="Konu" name="Subject" class="form-group" />
    <input type="text" placeholder="Kullanıcı Açıklaması" name="Message" class="form-group" />
    <button class="btn btn-info">Ekle</button>

</form>

