@using EntityLayer.Concrete
@model List<Contact>
@{
    ViewBag.Title = "GetContactList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>İletişim Listesi</h2>

<table class="table table-hover">
    <tr>
        <td>Kullanıcı Id</td>
        <td>Kullanıcı Adı</td>
        <td>Kullanıcı Mail</td>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactId</td>
            <td>@item.UserName</td>
            <td>@item.UserMail</td>
        </tr>
    }
</table>
<a href="/Contact/AddContact" class="btn btn-info">Yeni İletişim Bilgisi Ekle</a>

