
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim</del></p>
<p><del>#2 Tüm başlıklara paging</del></p>
<p><del>#3 Mesajlarda Session</del></p>
<p>#4 Oturum Yöneiminin Mimariye Taşınması</p>
<p>#5 Token kulllanımı</p>

